<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="kYTAqgqS7ZLTL4cuT35RbKbQRPQlKR71H0IhIJwl.jpeg" type="image/gif" sizes="16x16" >
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    .raj
    {
      float: right;
    }
    .mani
    {
      color: white;
      font-family: cursive;
      margin-left: 20px;
    }
    .li
    {
        padding: 16px;
    }
    .kanta
    {
      position: sticky;
      background-color: rgb(53, 36, 1);
      border-radius: 60px;
    }
    li{
        color: black;
    }
    li a:hover
    {
      color: rgb(225, 201, 158);
      border-radius: 15px;
      background-color: rgb(9, 26, 22);
      transition-duration: 0.3s;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .rm
    {
  
      border-radius: 50px;
      transition-duration: 0.5s;
      background-color: rgba(152, 185, 3, 0.712);
      overflow: hidden;
    }
    .rm a:hover
    {
      background-color: rgb(218, 216, 239);
    }
    .rs
    {
      color: black;
    }
    .ma
    {
        color: green;
    }
    .para
    {
      color: green;
      opacity: 0.5;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm kanta">
  <ul class="navbar-nav ma">
    <li class="nav-item">
      <a class="nav-link mani" href="/user">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mani dropdown-toggle-hover" data-toggle="dropdown" href="#">Mobiles</a>
      <div class="dropdown-menu rm">
        <a class="dropdown-item rs" href="/10k">under 10k</a>
        <a class="dropdown-item rs" href="/under20k">under 20k</a>
        <a class="dropdown-item rs" href="/under30k">under 30k</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link mani dropdown-toggle-hover" data-toggle="dropdown" href="#">Laptops and desktops</a>
      <div class="dropdown-menu rm">
        <a class="dropdown-item rs" href="/apple">Apple</a>
        <a class="dropdown-item rs" href="/dell">Dell</a>
        <a class="dropdown-item rs" href="/acer">Acer</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link mani" href="/aboutus">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mani" href="/signup">Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mani" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mani"href="/admin">Admin</a>
    </li>
  </ul>
</nav>
<div class="container">
<div class="row">
</div>
</div>
<br>
</body>
</html>